<link rel="stylesheet" type="text/css" href="nav-bar.css" id="nav-bar">
	<div style="position: relative; left: 0; top: 0;">
		<img src="nav-bar-texture-2.jpg" style="position: absolute; top: 0; left: 84px; width="80px" height="80px"" class="texture-image">
		<img src="IR-logo.jpg" style="position: relative; top: 0; left: 0;" height="80px" width="80px">
		<div class="NavBar" style="text-align:center;">
			<ul class="NavBar" id="GlobalNavBar">
				<li><a href="#" style="text-decoration: none" class="item">Home</a><li>
				<li><a href="#" style="text-decoration: none" class="item">Contact</a><li>
				<li><a href="#" style="text-decoration: none" class="item">About</a><li>
				<li><a href="#" style="text-decoration: none" class="item">youtube</a><li>
			</ul>
		</div>
	</div>